*
    box-sizing: border-box

html, body
    margin: 0
    padding: 0

.page
    display: flex
    height: 100vh

.leftPanel
    width: 300px
    height: 100%
    display: flex
    flex-direction: column

.stopScreenshotPanel
    position: absolute
    top: 0
    left: 0
    width: 100px
    height: 100%
    opacity: 0
    z-index: 10

    &:hover
        opacity: 1

.resourcesList
    flex: 1
    overflow-y: auto

.contentContainer
    flex: 1
    display: flex
    flex-direction: column

.sreenshots
    .contentTitle 
        
    .iframeContainer 
        margin: 2px

    iframe
        box-shadow: none
        outline: 1px solid gray

.contentTitle 
    padding: 5px
    width: 100%
    text-align: center
    font-family: Roboto
    font-size: 16px

.iframeContainer 
    flex: 1
    position: relative
    margin: 10px

iframe 
    position: absolute
    width: 1280px
    height: 800px
    border: none
    transform-origin: 0 0
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.4), 0px 3px 4px 0px rgba(0,0,0,0.28), 0px 1px 8px 0px rgba(0,0,0,0.24)
    overflow: hidden

.backdrop 
    z-index: 10 !important
