*
    box-sizing: border-box

html, body
    margin: 0
    padding: 0

.page
    display: flex
    height: 100vh

.leftPanel
    width: 300px
    height: 100%
    display: flex
    flex-direction: column

    &.minimize
        display: none

.resourcesList
    flex: 1
    overflow-y: auto

.openFolderBtn
    height: 40px
    min-height: 40px
    font-size: 16px

.btn 
    display: flex
    justify-content: space-between
    height: 30px
    min-height: 30px
    margin: 0 auto
    padding-left: 10px
    border: 1px black solid
    line-height: 30px
    font-size: 16px
    cursor: pointer

    .resourceTitle
        flex: 1

    .openResourceInExplorerBtn
        display: flex
        justify-content: center
        align-items: center
        width: 30px

    &.selected
        background-color: orange

.contentContainer
    flex: 1
    display: flex
    flex-direction: column

.contentTitle 
    padding: 5px
    width: 100%
    text-align: center
    font-size: 1.75vw
    font-weight: bold
    background-color: burlywood

.iframeContainer 
    flex: 1
    position: relative
    margin: 10px

iframe 
    position: absolute
    width: 1280px
    height: 800px
    border: none
    transform-origin: 0 0
    box-shadow: 0px 0px 20px black

.stopScreenshotBtn
    position: absolute
    top: 0
    left: 0
    width: 100px

.backdrop 
    z-index: 10 !important
